<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title layout:title="Trang chủ">Tìm kiếm</title>
</head>
<body>

<main layout:fragment="content">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 py-12">
        <section>
            <div class="mb-12">
                <h2 class="text-2xl font-semibold text-blue-700 border-l-4 border-blue-500 pl-4 py-2 bg-blue-50 rounded-md shadow-sm mb-4" th:text="${keyword}"></h2>

                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-5">
                    <a th:href="@{/tintuc/{slug}(slug=${article.slug})}" th:each="article : ${result}" class="bg-white rounded-xl shadow-md hover:shadow-xl transition transform hover:-translate-y-1 overflow-hidden group border border-gray-100">
                        <div class="relative aspect-w-16 aspect-h-9">
                            <img th:src="${article.image}" th:alt="${article.title}" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105" />
                        </div>
                        <div class="p-4">
                            <span class="text-xs text-gray-500">05/06/2025</span>
                            <h3 class="text-lg font-semibold text-gray-800 group-hover:text-blue-600 transition line-clamp-2" th:text="${article.title}"></h3>
                            <p class="text-gray-600 text-sm mt-2 line-clamp-3" th:text="${article.description}"></p>
                            <div class="text-xs text-gray-500 mt-3 flex justify-between">
                                <span class="text-gray-800 whitespace-nowrap"
                                      th:text="${#temporals.format(article.createdAt, 'dd/MM/yyyy')}">Ngày tạo</span>
                                <span>Tác giả: ThoiSu360</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>

</body>
</html>